@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
	:root {
		/* Name: custom color palette
			Author: Ilias Ism
			URL: https://gradient.page */
  
		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: #DBE6F6;
  
		--background: 229 39% 7.28%;
		--foreground: 229 6% 99.55%;
  
		--muted: 229 0% 63.7%;
		--muted-foreground: 229 6% 59.1%;
  
		--popover: 229 26% 13.65%;
		--popover-foreground: 229 6% 99.55%;
  
		--card: 229 26% 13.65%;
		--card-foreground: 229 6% 99.55%;
  
		--border: 229 0% 63.7%;
		--input: 229 0% 63.7%;
  
		--primary: 229 60% 91%;
		--primary-foreground: 229 6% 9.1%;
  
		--secondary: 229 0% 63.7%;
		--secondary-foreground: 229 6% 99.55%;
  
		--accent: 229 0% 63.7%;
		--accent-foreground: 229 6% 99.55%;
  
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 229 6% 99.55%;
  
		--ring: 229 60% 91%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}