@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #170012;
  --background: rgb(255, 255, 255);
  --background-other: #F5F5F5; 

  --accent: #D81324;
  --text-accent: #ffffff;
  --text-accent-other: #d3d3d3;

  --text: #000000;
  --text-other: #2e2e2e;
}

section {
	padding-top: 100px;
}

li {
	list-style-type: disc;
	margin-top: 1.3rem;
	margin-left: 2rem;
}